body {
  font-family: Arial;
  margin: 0;
  background-color: #252119;
  color:#b6b6b6
}

/* Header */
header {
  padding: 30px;
  text-align: center;
  background: #ffa705;
  color: black;
}

/* Left side navigation bar */
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #252119;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 1px solid #e8e8e8;
}

ul.sidenav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #b6b6b6;
}
 
ul.sidenav li a.active {
    background-color: #ffa705;
    color: black;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
    h1{
        text-align:center;
    }
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
        
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
            
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

/*Table */
.light-table {
    border: 1px solid rgb(241, 241, 241);
    border-collapse: collapse;
    th, td{
        border: 1px solid rgb(241, 241, 241);
        border-collapse: collapse;
        padding: 10px;
    }

}